<% content_for :title, "Edit Employee" %>

<h1>Edit Employee</h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Show", @employee %> |
  <%= link_to "Back to Employees", employees_path %>
</div>
